.DS_STORE
/.vscode
.python-version
*.out
*.pcd
/saved
/ckpt
/logs
__pycache__/
/data/
/interactive_scenes*/
/data/semantic_kitti
/outputs/*
/wandb
/datasets/preprocessing/*.json
/datasets/preprocessing/*.yaml
